body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: rgb(24, 82, 139);
    color: #ffffff;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    grid-gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #b9b9b9;
    color:rgb(78, 78, 78);
    font-weight: bolder;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #b9b9b9;
    color: rgb(78, 78, 78);
    border: 2px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #858080;
}
